.animation-bg{
  width: 100%;

}
.animation-bg .color{
  position: absolute;
 filter: blur(0px);
z-index: -20;
}

.animation-hover:hover{
  filter: brightness(1.2);
  backdrop-filter: blur(3px) saturate(200%);
  transition: all 0.6s;
}
@keyframes bool {
 
  50%{
    transform:  translateX(-200px);
    
  }
  100%{
    transform:  translateX(150px);
  }

}

.animation-bg .color:nth-child(1){
  
  top: -350px;
  height: 600px;
  width: 600px;
  background: url("../../images/Eclipse.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: bool 10s linear infinite;
  
}

.animation-bg .color:nth-child(2){
  
  bottom: -150px;
  left: 100px;
  height: 500px;
  width:500px;
  background: url("../../images/Eclipse.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: bool 10s linear infinite;
}
.animation-bg .color:nth-child(3){
  bottom: 50px;
  right: 0px;
  height: 500px;
  width: 500px;
  background: url("../../images/Eclipse.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: bool 10s linear infinite;
}